<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= link_to "Add user", new_user_registration_path, class: "btn btn-primary" %>
<br /><br /><br />
<%= will_paginate %>
<table class="table table-bordered table-hover">
  <th>Name</th>
  <th>Email</th>
  <th>Department</th>
  <th>Role</th>
  <%= render @users %>
</table>
<%= will_paginate %>

